<div class="card"  id="<%= prompt.id %>" data-id="<%= prompt.id %>">
  <div class="card-body">
    <p class="card-text"><%= prompt.content %></p>
    <% if current_user && current_user.admin? && controller.controller_name != 'home' %>
      <footer id="prompt_footer">
        <%= link_to 'Destroy', prompt, data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </footer>
    <% else %>
      <footer id="prompt_footer">number of posts (<%= prompt.posts.count %>)</footer>
    <% end %>
  </div>
</div>
