<div id="my_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my_carousel" data-slide-to="1"></li>
    <li data-target="#my_carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <%= image_tag("notebook.jpg", :alt => "notebook") %>
        <div class="carousel-caption">
          <h1 class="display-3">PromptMe</h1>
        </div>
    </div>
    <div class="carousel-item" id="river_boat">
        <%= image_tag("river_boat.jpg", :alt => "river_boat") %>
        <div class="carousel-caption">
          <h1 class="display-3">Just Write</h1>
          <p>No backspace. No copy. No paste.</p>
        </div>
    </div>
    <div class="carousel-item" id="candles">
        <%= image_tag("candles.jpg", :alt => "candles") %>
        <div class="carousel-caption">
          <button type="button" class="btn btn-primary btn-lg" id="how_button">How it Works</button>
        </div>
    </div>
      <a class="carousel-control-prev" href="#my_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#my_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
</div>
<div class="container-fluid">
  <%= render @prompts %>
</div>

<%= render 'posts/form' %>
<%= render 'layouts/how_modal' %>
