<div class="modal fade" id="myModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="progressBar">
        <div id="progress">
        </div>
      </div>
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body" id="myModal_body">
        <%= form_for(Post.new, :html => {id: "form_for_" }, :remote => true) do |f| %>
          <%= f.text_area :content, class: 'form-control content-form', id: "modal_textarea" %>
          <%= f.hidden_field :prompt_id, id: "modal_prompt" %>
          <% if current_user %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <% else %>
            <%= f.hidden_field :user_id, :value => 2 %>
          <% end %>
        <% end %>
      </div>
      <% if !current_user %>
        <div class="row save_options">
          <div class="col first_col">
            <p>Don't care to see what was deleted? Download a pdf of what was left!</p>
            <%= button_to "Download", download_post_path, :method => "get", :form => {class: "button_form"}, class: "download-button btn btn-primary", params: {'ptext' => '', 'pprompt' => ''} %>
          </div>
          <div class="col">
            <p>Want to see everything you wrote? Create and account or log in!</p>
            <button type="button" class="btn btn-primary" id="creat_account_button">Create Account</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
